<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:networkSecurityConfig="@xml/debug_network_security" android:label="${debugAppLabel}" tools:replace="android:label">
        <activity android:name="com.sonkkeut.app.DesignComparisonActivity" android:exported="true" />
    </application>
</manifest>
