<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="손끝길 UI 도구 검증" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
        <activity android:name="com.sonkkeut.tooling.design.SignalDesignActivity" android:label="손끝길 · Signal" android:icon="@drawable/ic_signal_launcher" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sonkkeut-design" android:host="preview" />
            </intent-filter>
        </activity>
        <activity android:name="com.sonkkeut.app.UiToolingProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
